<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
    <%= notice %>
  </p>
<% end %>

<div class="mt-4">
  <%= form_with(model: @task, class: "mb-7") do |form| %>
    <div class="mb-5">
      <%= form.text_field :description, placeholder: "Add new task", class: "inline-block w-96 px-3 py-2 mt-2 shadow rounded-md border border-gray-200 outline-none" %>
      <%= form.submit "Save", class: "btn py-2 ml-2 bg-blue-600 text-white" %>
    </div>
  <% end %>
</div>

<div id="tasks">
  <h1 class="font-bold text-lg mb-7">Tasks</h1>

  <div class="px-5" data-controller="tasks">
    <% @tasks.each do |task| %>
      <turbo-frame id="<%= dom_id task %>" class="block">
        <%= form_with(model: task, class:"text-lg inline-block my-3 w-72") do |form| %>
          <%= form.check_box :completed,
                             data: {
                               id: task.id,
                               action: "tasks#toggle"
                             },
                             class: "mr-2 align-middle bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-5 w-5 rounded checked:bg-green-500" %>
          <%= task.description %>
        <% end %>
          <%= link_to "Edit", edit_task_path(task),
                      class: "btn bg-gray-100"
          %>
        <div class="inline-block ml-2">
          <%= button_to "Delete", task_path(task),
                        method: :delete,
                        data: { action: "tasks#delete" },
                        class: "btn bg-red-100" %>
        </div>
      </turbo-frame>
    <% end %>

  </div>
</div>